<!DOCTYPE html>

<html lang="es">

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Verdana" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <title>login</title>

    </head>


    <!-- se usa para crear secciones independientes  -->
    <section class="block mx-auto my-9 p-8 bg-white w-1/3 border border-gray-200 rounded-lgshadow-lg text-gray-800">
    <!-- se usa para definir el encabezado de la pagina web  -->
      <header style="text-align: center;"><h2>Inicio De sesion</h2></header>
     
      <br>
      
      <p style="text-align: center;">ingresa aqui tu correo electronico:</p>
      <center>
         <!-- se define una casilla para que el usuario introduzca textos --> 
        <input type="text" placeholder="ingresa tu correo" class="border border-blue-600 w-full text-lg placeholder-blue-300 p-2 my-2 
        bg-gray-100 focus:bg-white " required>
      </center>
    <br>
    <p style="text-align: center;">ingresa aqui tu contrasena:</p>
    <center>
        <input type="text" placeholder="ingresa tu contraseña" class="border border-blue-200 w-full text-lg placeholder-blue-300 p-2 my-2 
        bg-gray-100 focus:bg-white " required>
    </center>
    
    <br>

     <!-- se define una boton para que el usuario inicie sesion---> 
    <center><button  type="submit" class="rounded-md bg-blue-700 w-full text-lg text-white 
        font-semibold p-2 my-3 hover:bg-blue-700 focus:bg-blue-600">iniciar sesion</button></center>


     
</section>

</html>