<!-- se usa para indicar que se usara html5  -->
<!DOCTYPE html>
<html lang="es">


   
    <div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg
    shadow-lg text-gray-800">

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Verdana" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <title>Registro</title>

    </head>

    <section class="section-class">
      <!-- se usa para definir el encabezado de la pagina web  -->
      <header style="text-align: center;">
        <h2>Formulario De Registro</h2>
      </header>

    <br>

    <center>
      <form style="text-align: center;">
        <!-- se define una casilla para que el usuario introduzca textos -->
          Nombre:<input type="text"  placeholder="ingresa tu nombre" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required>
          <br>
          <br>
          Apellido Materno:<input type="text" placeholder="ingresa tu apellido materno" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required> 
          <br>
          <br>
          Apellido Paterno:<input type="text" placeholder="ingresa tu apellido paterno" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required> 
          <br>
          <br>
          Fecha de nacimiento:<input type="date" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required> 
          <br>
          <br>
           <!-- es un contenedor para diferentes tipos de entrada, como campos de texto, botones, etc  -->         
          <form class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required>Estado
             <!-- representa un control que muestra un menu de opciones  -->
            <select >
               <!-- es usado para instalar opciones en una lista de opciones  -->
              <option>Aguascalientes</option>
              <option>Baja California</option>
              <option>Campeche</option>
              <option>Coahuila</option>
              <option>Colima</option>
              <option>Chiapas</option>
              <option>Chihuahua</option>
              <option>Durango</option>
              <option>Distrito Federal</option>
              <option>Guanajuato</option>
              <option>Guerrero</option>
              <option>Hidalgo</option>
              <option>Jalisco</option>
              <option>México</option>
              <option>Michoacán</option>
              <option>Morelos</option>
              <option>Nayarit</option>
              <option>Nuevo León</option>
              <option>Oaxaca</option>
              <option>Puebla</option>
              <option>Querétaro</option>    
            </select>
          </form>
          <br>
          

          <!-- se usa para que el usuario introduzca texto   -->
          Municipio:<input type="text" placeholder="ingresa tu municipio" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required> 
          <br>
          <br>
          Numero:<input type="tel" placeholder="ingresa tu numero telefonico" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required> 
          <br>
          <br>
          Correo Electronico:<input type="email" placeholder="ingresa tu correo" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required> 
          <br>
          <br>
          Contraseña:<input type="password" placeholder="ingresa tu contraseña" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
        bg-gray-100 focus:bg-white border-blue-700 placeholder-blue-300" required> 
          <br>
          <br>
          <button type="submit" class="rounded-md bg-blue-700 w-full text-lg text-white 
        font-semibold p-2 my-3 hover:bg-blue-700 focus:bg-blue-600 placeholder-blue-300">registrarse
          </button>

 
   
      </form>
    </h3>
  </center>   
  </section>


</html>
