<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Node.js MySql</title>
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
  </head>
  <body class="bg-gray-200">
    <nav class="flex py-1 bg-blue-600 text-white px-25">
      <div class="w-1/2 px-12 mr-auto">
        <h1 class="text-2xl font-bold text-right">CAFETERIA</h1>
      </div>
      <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
        {{#if name}}
          <li class="nav-item px-4">
            <a href="/logout" class="nav-link font-semibold bg-red-500 hover:bg-blue-500 hover:text-green-700 py-3 px-4 rounded-md">Cerrar Sesion</a>
          </li>
          <p>{{name}}</p>
        {{else}}
          <li class="nav-item px-4">
            <a href="/login" class="nav-link font-semibold  hover:bg-blue-500  hover:text-green-700 py-3 px-4 rounded-md">Iniciar Sesion</a>
          </li>
          <li class="nav-item px-4">
            <a href="/register" class="nav-link font-semibold  hover:bg-blue-500 hover:text-green-700 py-3px-4 rounded-md">Registrarse</a>
          </li>
          <li class="nav-item px-4">
            <a href="/" class="nav-link font-semibold  hover:bg-blue-500  hover:text-green-700 py-3px-4 rounded-md">Home</a>
          </li>
        {{/if}}
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>